{# My HTML template.  This does
  - Fix path to MathJax
  - Hides some elements
  - Explicitly load jQuery
  - Add my favicon 
  - Possibly truncate input code
  - Sets captions 
  - Plots are <figure>s 
  - and other stuff #}

{%- extends 'lab/index.html.j2' -%}
{% from 'templates/html/minebase/favicon.html.j2' import my_favicon %}
{% from 'templates/html/minebase/hides.html.j2' import my_hides %}
{% from 'templates/html/minebase/toc2.html.j2' import my_toc2 %}
{% from 'templates/html/minebase/unique_id.html.j2' import unique_id %}

{# Variable containing next caption (a dict) #}
{% set nextcaption={} %} 

{# Fix up MathJax URL #}
{# The URL set for MathJax is wrong (file://... instead of #}
{# file:/... or file:/// #}
{%- if not mathjax_url is defined -%}
  {% set mathjax_url = 'file:/usr/share/javascript/mathjax/MathJax.js'|mathjax_u %}
{%- endif -%}

{# Use fixed-up MathJax URL #}
{%- block html_head_js_mathjax -%}
  {{ mathjax(url=mathjax_url+"?config=TeX-MML-AM_CHTML-full,Safe") }}
{%- endblock html_head_js_mathjax -%}

{# Additional CSS added #}
{%- block html_head_css -%}
  {{ super() }}

  {# Hide cells #}
  {{ my_hides() }}
  
  <style>
    :root                { --jp-cell-editor-background: lightyellow;  }
    .celltag_nextcaption { display: none; }
    .celltag_export      { border-color: black; }
    h4.code_title        { display: none; }
    figure               { margin-left: auto; margin-right: auto; }
    figure img           { display: box; }
    figure figcaption    { text-align: initial; }
    h1, h2, h3, h4, h5   { text-align: left; }    
  </style>
{%- endblock html_head_css -%}

{# Make sure to add jQuery as it may be needed by extensions #}
{%- block html_head_js -%}
  {{ super() }}

  {%- block html_head_js_jquery -%}
    <script src="{{ resources.jquery_url }}"></script>
  {%- endblock html_head_js_jquery -%}

  {# toc #}
  {{ my_toc2(nb) }}
{%- endblock html_head_js -%}

{# Add favion #}
{%- block html_head -%}
  {{ super() }}

  {# Set the favicon #}
  {{ my_favicon() }}
{%- endblock html_head -%}

{# If the cell has the tag 'nextcaption' use cell content as next
   caption of a plot or the like #}
{% block markdowncell scoped %}
  {% if "nextcaption" in cell.metadata.get("tags",[]) %}
    {% set _ = nextcaption.update({'current': cell.source |
      markdown2html | strip_files_prefix }) %}
    {% set _ = nextcaption.update({'label': 'fig:'+unique_id() }) %}
  {%- else -%}
    {{ super() }}
  {% endif %}
{%- endblock markdowncell %}

{# Set the caption is defined #}
{% block output_group %}
  {%- if "label"   in nextcaption and nextcaption["label"]   != "" -%}
    <div style="display: flex; flex-direction: row; align-items: stretch">
      <div class="prompt">
      </div>
      <div class="figreference rendered_html">
	<a href="#{{nextcaption['label']}}">Figure</a>
      </div>
    </div>
  {%- endif -%}  
  {{ super() }}
{% endblock output_group %}

{# Put plots into <figure> tags and define an anchor for references #}
{% block data_png scoped %}
  <figure>
  {%- if "label" in nextcaption and nextcaption["label"]   != "" -%}
    <a name="{{nextcaption['label']}}"></a>
  {%- endif -%}  
{{ super() }}
  {%- if "current" in nextcaption and nextcaption["current"] != "" %}
    <figcaption class="rendered_html">
      {{ nextcaption["current"] }}
    </figcaption>
    {% set _ = nextcaption.update({"current": "" }) %}
    {% set _ = nextcaption.update({"label": "" }) %}
  {%- endif -%}
  </figure>
{%- endblock data_png %}

{# Possibly limit number of lines reproduced, and set title if
specified  #}
{% block input %}
  {%- set maxl = cell.metadata.get('maxlines',-1) -%}
  {%- if cell.metadata.get('title',false) -%}
  <h4 class="code_title">{{cell.metadata.get('title')}}</h4>
  {%- endif -%}
  <div class="jp-CodeMirrorEditor jp-Editor jp-InputArea-editor" data-type="inline">
    <div class="CodeMirror cm-s-jupyter">
      {%- if maxl > 0 %}
{{ '\n'.join(cell.source.split('\n')[:maxl]
    +['# Source code has been truncated']) |
    highlight_code(metadata=cell.metadata) }} 
      {% else %}
{{ cell.source | highlight_code(metadata=cell.metadata) }}
    {%- endif -%} 
    </div>
  </div>
{% endblock input %}

{# Local Variables: #}
{#  mode: jinja2 #}
{# End: #}

