{# Hides certain types of cells #}
{%- macro my_hides() -%}
<style type="text/css">
  div.celltag_hide_input div.input            { display: none }
  div.celltag_hide_output div.output_wrapper  { display: none }
  /* .celltag_hide_input                      { display: none }
     .celltag_hide_output 		      { display: none } */
  .celltag_hide_input .jp-Cell-inputWrapper   { display: none }
  .celltag_hide_output .jp-Cell-outputWrapper { display: none }
  div.celltag_nextcaption                     { display: none }
  #toc-header i.fa.fa-fw.fa-refresh           { display: none }
  #toc-header i.fa.fa-fw.fa-cog               { display: none }
  #toc a                                      { color: var(--color); }
</style>
{%- endmacro -%}
{# Local Variables: #}
{#  mode: jinja2 #}
{# End: #}

  
