{#
This macro changes the default MathJax output to be SVG and creates
a tag after rendering which selenium may listen for.  In that way, we
can wait to grap the web-page until _after_ all the MathJax has been
rendered.
#}

{%- macro epub_mathjax(url="file:/usr/share/javascript/mathjax/MathJax.js") -%}
  <script src="{{url}}?config=TeX-AMS_SVG,Safe"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      /* jax: ["input/TeX","output/HTML-CSS"],  */
     jax: ["input/TeX","output/SVG"],
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true,
       processEnvironments: true
     },
     displayAlign: 'center',
     "HTML-CSS": {
        styles: {'.MathJax_Display': {"margin": 0}  },
        linebreaks: { automatic: true }
      },
     TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
    //  This will be performed after MathJax has completed its
    //  setup and typesetting run, which have already been
    //  pushed onto the queue.
    //    (Since the Message function is not defined yet when this code
    //     runs, we need to enclose it in a function so it will be
    //     looked up later when it is defined.) 
    //
    MathJax.Hub.Queue(function () {
      console.log('Adding MathJaxEnd element')
      window.MathJax.HTML.addElement(document.body,"div",
				     {id: 'MathJaxEnd',
				      style: {'display': 'none'} },
				     ["Hello, again"]);
      console.log('Added MathJaxEnd element')
  });
</script>

{%- endmacro %}

