{# Deprecated #}
{%- extends 'templates/html/minehtml/index.html.j2' -%}
{% from 'templates/html/minebase/mathjax_hack.html.j2' import epub_mathjax %}
{%- if not mathjax_url is defined -%}
    {% set mathjax_url = 'file:/usr/share/javascript/mathjax/MathJax.js'|mathjax_u %}
{%- endif -%}

{# Our MathJax settings! #}
{%- block html_head_js_mathjax -%}
  {{ epub_mathjax(mathjax_url) }}
{%- endblock html_head_js_mathjax -%}
  
{%- block html_head -%}
  {{ super() }}

  <style>
   @media (min-width: 768px) {
    .container {
      width: initial;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: initial;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: initial;
    }
  }
  div.celltag_nextcaption:      { display: none }
  div.pyexp                     { border-color: black }
  h4.code_title                 { display: none }
  figure {
     margin-left: auto;
     margin-right: auto;
 }
 figure img { display: box; }
 figure figcaption { text-align: initial; }
 h1, h2, h3, h4 { text-align: left; }    
 html {
     font-size: 12px; /* unset;  */
     }
  body {
    overflow: initial;
    position: initial;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    font-size: unset;
  }
  div#notebook {
     padding: initial;
     font-size: unset;
     line-height: unset;
     text-align: justify;
  }
  #notebook-container {
    overflow: initial;
    box-shadow: none;
    padding: initial;
  }
  div#notebook-container {
    overflow: initial;
    box-shadow: none;
    padding: 1ex 1ex 1ex 1ex;
  }
  div.output_area .rendered_html table {
     margin-left: auto;
     margin-right: auto;
  }
  div.output_subarea { max-width: initial; }
  .CodeMirror, .code, div.input_area, pre {
     /*font-size: smaller;*/ }
  .CodeMirror, .code, div.output_area, pre {
     font-size: smaller; }
   </style>
{%- endblock html_head -%}

{% block input %}
  {%- set maxl = cell.metadata.get('maxlines',-1) -%}
  {%- if cell.metadata.get('title',false) -%}
  <h4 class="code_title">{{cell.metadata.get('title')}}</h4>
  {%- endif -%}
  <div class="inner_cell">
    {%- if cell.metadata.get('pyfile',false) -%}
    <div class="pyexp input_area">
    {% else %}
    <div class="input_area">
    {% endif %}
    {%- if maxl > 0 %}
      {{ '\n'.join(cell.source.split('\n')[:maxl]
             +['# Source code has been truncated']) |
      highlight_code(metadata=cell.metadata) }} 
    {% else %}
      {{ cell.source | highlight_code(metadata=cell.metadata) }}
    {%- endif -%} 
    </div>
  </div>
{%- endblock input %}

{# Local Variables: #}
{#  mode: jinja2 #}
{# End: #}

