:root {
    --color: #46743c
}

body {
    font-family: 'Open Sans',arial,sans-serif;
    background-color: #ddd;
}

table.lib {
    margin-left: 32px;
}
table.lib td img {
    height: 32px;
}
.end  {
    border-bottom: 1px solid var(--color);
}
h1 {
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid var(--color);
}
h2 { 
    font-size: 20px;
    font-weight: 600;
}
h3 { 
    font-size: 16px;
    font-weight: 600;
}
h5 {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
}
		     
		   
#branding-top {
    /* border-bottom: 1px solid var(--color);
       background-color: white;
      width: calc(100% - 16px); */
}
#branding-unit {
    position: absolute;
    top: 0;
    left: calc(2.7% + 70px);
    width: calc(100% - 2.7% - 70px);
    height: 86px;
    display: table;
    justify-content: center;    
}
#branding-unit h1 {
    border-bottom: none;
    margin: 0;
    max-width: 700px;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 0.085em;
    font-family: "Open Serif", times, serif;
    font-weight: normal;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
}
#branding-logo {
    position: absolute;
    top: 0;
    left: 2.7%;
    height: 87px;
    width: 61px;
    min-width: 61px;
    display: table;
    overflow: hidden;
}
#branding-decoration {
    margin: 0;
    padding: 0;
    height: 70px;
    border-bottom: 1px solid var(--color);
    background-color: white;
}
#branding-background {
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg);
    background-size: 236px 70px;
}
@media only screen and (max-width: 1040px) {
    #branding-background {
	opacity: 0.75;
    }
}
@media only screen and (max-width: 1020px) {
    #branding-background {
	opacity: 0.5;
    }
}
@media only screen and (max-width: 1000px) {
    #branding-background {
	opacity: 0.25;
    }
}
@media only screen and (max-width: 700px) {
    #branding-background {
	background-image: none !important;
    }
}
#languages {
    text-align: right;
    height: 5px;
}
#outer {
    text-align: center;
}
#inner {
    padding: 3ex;
    text-align: initial;
    display: inline-block;
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#code {
    background-color: black;
    color: #eee;
    padding: 1ex;
}		     
a:link, a:visited {
    text-decoration: none;
    color:  var(--color);
}
a:hover {
    text-decoration: none;
    color:  var(--color);
    font-shape: italic;
}
li.py, li.ipynb, li.pdf, li.html, li.slides, li.nbviewer, li.binder {
    list-style: none outside;
    margin: 0;
    padding: 4px 0px 4px 26px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 22px;
}

li.py {
    background-image: url('py.svg');
}
li.ipynb {
    background-image: url('ipynb.svg');
}
li.pdf {
    background-image: url('pdf.svg');
}
li.html {
    background-image: url('html.svg');
}
li.slides {
    background-image: url('slides.html.svg');
}
li.nbviewer {
    background-image: url('nbviewer.svg');
}
li.binder {
    background-image: url('binder.svg');
}
