{%- extends 'reveal/index.html.j2' -%}
{% from 'templates/html/minebase/favicon.html.j2' import my_favicon %}
{% from 'templates/html/minebase/hides.html.j2' import my_hides %}
{% from 'templates/html/minebase/toc2.html.j2' import my_toc2 %}
{# Override base mathjax macro #}
{% from 'mathjax.html.j2' import mathjax as upstream_mathjax %}
{% macro
  mathjax(url="file:/usr/share/javascript/mathjax/MathJax.js?config=TeX-MML-AM_CHTML-full,Safe")
  %}
  {{ upstream_mathjax(url) }}
{% endmacro %}
{%- if not mathjax_url is defined -%}
  {% set mathjax_url = 'file:/usr/share/javascript/mathjax/MathJax.js'|mathjax_u %}
{%- endif -%}


{%- block header -%}
  {{ super() }}

  {# Correct MathJax URL #}
  {{ mathjax(url=mathjax_url+"?config=TeX-MML-AM_CHTML-full,Safe") }}

  {# toc #}
  {{ my_toc2(nb) }}

  {# Set the favicon #}
  {{ my_favicon() }}

  {# Hide cells #}
  {{ my_hides() }}
  

  {# Set the styles #}
  <style>
    .slides .rendered_html h1:first-child {
      margin-top: .5ex;
    }
    .slides .rendered_html h1 {
      margin-bottom: 1ex;
    }
    .slides .output_subarea {
      max-width: none;
    }
    .slides .output_text {
      background:    #f2f2ff;
      border-left:   1pt solid #cfcfcf;
      border-right:  1pt solid #cfcfcf;
      border-bottom: 1pt solid #cfcfcf;
    }
    .output_png .output_subarea {
      text-align: center;
    }
    details.toggle_cell {
      display: none;
    }
    .reveal pre {
      font-size: 70%;
      margin: 0;
      padding: 0;
      box-shadow: none;
      font-family: inherit;
    }
    div.output_area pre {
      font-size: 70%;
    }
    .reveal blockquote {
      box-shadow: none;
    }
    .MathJax_Preview {
      display: none;
    }
    :root {
        --jp-cell-editor-background: lightyellow;
    }
</style>
{%- endblock header -%}

{# Modify post-slides to set-up reveal with larger screen #}
{% block post_slides %}
<script>

require(
    {
      // it makes sense to wait a little bit when you are loading
      // reveal from a cdn in a slow connection environment
      waitSeconds: 15
    },
    [
      "{{resources.reveal.url_prefix}}/lib/js/head.min.js",
      "{{resources.reveal.url_prefix}}/js/reveal.js"
    ],

    function(head, Reveal){

        // Full list of configuration options available here: https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            margin: .05,
            width: 1200,
            height: 900,

            transition: "{{resources.reveal.transition}}",

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: "{{resources.reveal.url_prefix}}/lib/js/classList.js",
                  condition: function() { return !document.body.classList; } },
                { src: "{{resources.reveal.url_prefix}}/plugin/notes/notes.js",
                  async: true,
                  condition: function() { return !!document.body.classList; } }
            ]
        });

        var update = function(event){
          if(MathJax.Hub.getAllJax(Reveal.getCurrentSlide())){
            MathJax.Hub.Rerender(Reveal.getCurrentSlide());
          }
        };

        Reveal.addEventListener('slidechanged', update);

        function setScrollingSlide() {
            var scroll = {{ resources.reveal.scroll | d("False") | json_dumps }}
            if (scroll === true) {
              var h = $('.reveal').height() * 0.95;
              $('section.present').find('section')
                .filter(function() {
                  return $(this).height() > h;
                })
                .css('height', 'calc(95vh)')
                .css('overflow-y', 'scroll')
                .css('margin-top', '20px');
            }
        }

        // check and set the scrolling slide every time the slide change
        Reveal.addEventListener('slidechanged', setScrollingSlide);
    }
);
</script>

</body>
{% endblock post_slides %}

{# Local Variables: #}
{#   mode: jinja2 #}
{# End: #}
